<div class="">
    <div class="footer">
        <div class="f1"></div>
        <div class="f2">
            <div class="fa">
                <div class="l"></div>
                <p class="opacity">A Cloud-based World most Integrated Workplace Management Software</p>
                <div class="link">
                    <div class="l1 ll"></div>
                    <div class="l2 ll"></div>
                    <div class="l3 ll"></div>
                    <div class="l4 ll"></div>
                    <div class="l5 ll"></div>
                </div>
                <p class="opacity">connect@urspayce.com</p>
                <p class="opacity">+1 302-440-2880</p>
                <p class="opacity">330 N Wabash Ave, Chicago, Illinois 60611, US</p>
                <p class="opacity">© 2023 UrSpayce, Inc. All rights reserved.</p>
            </div>
            <div class="fb">
                <h6>Resources</h6>
                <p class="opacity">Help</p>
                <p class="opacity">Video</p>
                <p class="opacity">Product Release</p>
                <p class="opacity">Blogs</p>
                <p class="opacity">Pricing</p>
                <p class="opacity">Integration</p>
            </div>
            <div class="fc">
                <h6>Company</h6>
                <p class="opacity">About Us</p>
                <p class="opacity">Career</p>
                <p class="opacity">Privacy Policy</p>
                <p class="opacity">Tearms of Service</p>
                <p class="opacity">Sitemap</p>
            </div>
            <div class="fd">
                <h6>Products</h6>
                <p class="opacity">Visitors</p>
                <p class="opacity">Calender</p>
                <p class="opacity">Booking</p>
                <p class="opacity">Delivery</p>
                <p class="opacity">Support</p>
                <p class="opacity">Parking</p>
                <p class="opacity">Community</p>
            </div>
        </div>
        <div class="f3">
            <div class="f3a"></div>
            <div class="f3b"></div>
            <div class="f3c"></div>
            <div class="f3d">
                <h1>Happy Working? Take a test to find out</h1>
                <p class="opacity">Roll your sleeves up and get UrSpayce Happy Working Score (UHWS) for your workplace</p>
                <button>Get Started</button>
            </div>
        </div>
    </div>
</div>