
<div class="center">
    <div class="sec7">
        <h2>Our Happy Clients</h2>
        <p class="opacity">From Fortune 500 Companies to Startups, We have Simplified Workplace Management for Everyone</p>
        <div class="aa">
            <div class="sec7-img"></div>
            <div class="con7">
                <div class="con7a"></div>
                <div class="con7b">
                    <p>The best part of UrSpayce is about the digital infusion in the admin department. We are able to manage all 36 offices from one single dashboard. By Using UrSpayce we are able to provide a seamless experience to our employees and visitors</p>
                </div>
                <div class="con7c"></div>
                <p class="opacity">STL is an industry-leading integrator of digital networks</p>
                <p>Dilip Ranjitmal Lodha</p>
            </div>
        </div>
    </div>
</div>