<div class="header">
    <div class="logo">
        <!-- <img src="https://urspayce.com/assets/image/icons/logo.svg" alt="logo"> -->
    </div>
    <p class="opacity">Don't have an Account? <a routerLink=""><h4>Sign Up</h4></a></p>

</div>
<div class="main-cont">
    <div class="pic">
        <h1>World’s most <span>integrated</span> workplace software</h1>
    </div>
    <div class="lf">
        <h2>Login</h2>
        <input type="email" placeholder="Enter your email">
        <input type="password" placeholder="Type your password">
        <a routerLink="">Forget password?</a>
        <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>

        <button>
            <span class="material-symbols-outlined ss">
                Lock
             </span>
             Login
        </button>
        <div class="infopart">
           <p> <a routerLink="">Term of Use</a>|</p> 
           <p><a routerLink="">Privacy Policy</a>| </p> 
           <p><a routerLink="">Contact us</a> </p> 
        </div>
    </div>
</div>
