<div class="sec2 mid">
    <div class="rating">
      <div class="small-ln"></div>
      <div class="star">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
      <div class="small-ln"></div>
    </div>  
    <p>From Fortune 500 Companies to Startups, We has simplified workplace management software</p>
    <div class="coms">
      <div  id="p1" class="com-pic">
          <img src="https://urspayce.com/assets/image/home/client/crozdesk.webp">
      </div>
      <div class="com-pic" id="p2">
          <img src="https://urspayce.com/assets/image/home/client/capterra.webp">
      </div>
      <div class="com-pic" id="p3">
          <img src="https://urspayce.com/assets/image/home/client/G2.webp">
      </div>
      <div class="com-pic" id="p4">
          <img src="https://urspayce.com/assets/image/home/client/getapp.webp">
      </div>
      <div class="com-pic" id="p5">
          <img src="https://urspayce.com/assets/image/home/client/trustradius.webp">
      </div>
    </div>
  </div>
  <div class="cont">
    <div>
        <h1>One App for your Hybrid Workplace Needs</h1>
        <p>Instead of pushing everyone to download a bunch of new apps, lead the change with just one super-intuitive platform for Office Space Management and make the "return to work" easy.</p>
    </div>
</div>
