<div class="center">
    <div class="sec6 ">
         <div id="sec61">
             <div id="sec61a">
                 <div class="s1">
                     <h2>Web</h2>
                     <p>for all your admins & head of the departments</p>
                 </div>
                 <div class="s2"></div>
             </div>
             <div id="sec61b">
                 <div class="u1">
                     <h2>Visitor Kiosk</h2>
                     <p>Especially designed for enterprises that have high traffic areas.</p>
                 </div>
                 <div class="u2"></div>
             </div>
         </div>
         <div id="sec62">
             <div id="sec62a">
                 <div class="t1">
                     <h2>Mobile App</h2>
                     <p>for employees & visitors</p>
                 </div>
                 <div class="t2">
                     <div class="t2a"></div>
                     <div class="t2b"></div>
                 </div>
             </div>
             <div id="sec62b">
                 <div class="u1">
                     <h2>API</h2>
                     <p>Build your own apps for you workplace</p>
                 </div>
                 <div class="u2"></div>
             </div>
             <div id="sec62c">
                 <div class="u1">
                     <h2>QR Code</h2>
                     <p>for all your mobile browser usres</p>
                 </div>
                 <div class="u2"></div>
             </div>
     
         </div>
     </div>
 </div>