<div id="navigation">
    <div class="logo">
        <!-- <img src="https://urspayce.com/assets/image/icons/logo.svg" alt="logo"> -->
    </div>
    <div class="nav">
        <a href="#" class="pro">Products <span class="material-symbols-outlined">
            expand_more
            </span>
            <div class="drop-cont1">
                <div class="in-con-pro">
                    <p class="opacity mar">Products</p>
                    <div class="show-pro">

                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    person
                                 </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Visitors</h6>
                                <p class="opacity">Keep track of your visitors</p>
                            </div>
                        </div>

                        
                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    storefront
                                 </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Booking</h6>
                                <p class="opacity">Manage and book your room and desk</p>
                            </div>
                        </div>

                        
                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    local_shipping
                                 </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Delivery</h6>
                                <p class="opacity">A smart way to organise incoming deliveries</p>
                            </div>
                        </div>

                        
                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    calendar_month
                                 </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Calender</h6>
                                <p class="opacity">Give your users to manage their calender</p>
                            </div>
                        </div>

                        
                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    local_parking
                                 </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Parking</h6>
                                <p class="opacity">Manage your entire parking of your users</p>
                            </div>
                        </div>

                        
                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    headset_mic
                                 </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Support</h6>
                                <p class="opacity">Instant feedback and smart tickiting system</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </a>
        <a href="#" >About Us</a>
        <a href="#" class="pro">Solutions <span class="material-symbols-outlined">
            expand_more
            </span>
            <div class="drop-cont1 hit">
                <div class="in-con-pro set">
                    <h4>How we help</h4>
                    <p class="opacity">Security Protocols</p>
                    <p class="opacity">Compliance Recurements</p>
                    <p class="opacity">Space Management</p>
                    <p class="opacity">Manufacturing</p>
                    <p class="opacity">Pharma and Biotech</p>
                    <p class="opacity">Professional Services</p>
                </div>
            </div>
        </a>
        <a href="#" class="pro" >Resources <span class="material-symbols-outlined">
            expand_more
            </span>
            <div class="drop-cont1 wid">
                <div class="in-con-pro">
                    <p class="opacity mar">Resources</p>
                    <div class="show-pro">

                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    help
                                    </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Help</h6>
                            </div>
                        </div>
                        
                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    play_circle
                                    </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">videos</h6>
                            </div>
                        </div>
                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    inventory_2
                                    </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Product Release</h6>
                            </div>
                        </div>
                        <div class="apro">
                            <div class="ico">
                                <span class="material-symbols-outlined ss">
                                    edit_document
                                    </span>
                            </div>
                            <div class="infopro">
                                <h6 class="opacity">Blog</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" >Pricing</a>
    </div>
    <div class="auth-sec">
        <a href="#">Login</a>
        <button>Get Started</button>
    </div>
</div>