<div id="navigation">
    <div class="logo">
        <!-- <img src="https://urspayce.com/assets/image/icons/logo.svg" alt="logo"> -->
    </div>
    <div class="nav">
        <a href="#" id="pro">Products <span class="material-symbols-outlined">
            expand_more
            </span></a>
            <div class="drop-cont1"></div>
        <a href="#" >About Us</a>
        <a href="#" >Solutions <span class="material-symbols-outlined">
            expand_more
            </span></a>
        <a href="#" >Resources <span class="material-symbols-outlined">
            expand_more
            </span></a>
        <a href="#" >Pricing</a>
    </div>
    <div class="auth-sec">
        <a href="#">Login</a>
        <button>Get Started</button>
    </div>
</div>