#navigation{
    height: 95px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    z-index: 3;
}
.logo{
  /* background-color: aquamarine; */
  height: 100%;
  width: 20%;
  background-image: url('https://urspayce.com/assets/image/icons/logo.svg');
  /* position: absolute; */
  background-position: center;
  background-repeat: no-repeat;
}

.nav{
    height: 100%;
    width: 55%;
    margin-left: 3%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    /* justify-content:space-around; */
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    /* position: absolute; */
}
.nav a, .auth-sec a {
    text-decoration: none;
    color: black;
    font-weight: 13px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
.auth-sec{
    height: 100%;
    width: 25%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* position: absolute; */
    font-weight: bold;
    font-weight: 14px;
}
.auth-sec a{
  color: #176cff;
  font-size: 13px;
}
.drop-cont1{
  position: absolute;
  height: 325px;
  width: 700px;
  background-color: rgb(255, 255, 255);
  top: 65px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px rgba(150, 150, 150, 0.473);
  display: none;
}

.pro:hover .drop-cont1{
  display: block;
}

.in-con-pro{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ico{
  height: 30px ;
  width: 30px;
  margin-inline: 8px;
  /* background-color: #176cff; */
}

.ss{
  font-size: 35px;
  color: #176cff;
}
.apro{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 30%;
   height: 40%;
   margin: 1%;
   margin-block-start: 4%;
}

.apro h6{
  font-size: 14px;
}
.apro p{
  font-size: 12px;
}
.show-pro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.mar{
  margin: 3%;
}
.wid{
  width: 300px;
  height: 200px;
}
.wid .apro{
  margin: 10px;
}
.wid p{
  margin: 15px;
}
.wid .infopro h6{
  font-size: 12px;
}
.hit{
  height: 250px;
  width: 225px;

}
/*  */
.set p, .set h4 {
   margin-block-start: 10px;
   margin-left: 17px;
   font-size: 18px;
}
.set p{
  opacity: 0.5;
  font-size: 13px;
}
@media screen and (min-width: 1500px) {
 #navigation{
  height: 80px;
 }
 button{
  height: 80%;
  width: 35%;
  font-size: 0.9vmax;
 }
}
