<div class="scroller">

    <div class="contain">
      
        <div id="div1">

            
            <div class="sc-card wrapper">
               <div class="cr1 box">
                   <div class="cr11"></div>
                   <div class="cr12"></div>
               </div>
               <div class="cr2 box"></div>
            </div>
    
            <!-- <div class="sc-card wrapper">
                <div class="cr1 box">
                    <div class="cr11"></div>
                    <div class="cr12"></div>
                </div>
                <div class="cr2 box"></div>
             </div> -->
        </div>
         <div id="div2">

             <div class="sc-card wrapper">
                <div class="cr1 box">
                    <div class="cr11"></div>
                    <div class="cr12"></div>
                </div>
                <div class="cr2 box"></div>
             </div>
    
             <!-- <div class="sc-card wrapper">
                <div class="cr1 box">
                    <div class="cr11"></div>
                    <div class="cr12"></div>
                </div>
                <div class="cr2 box"></div>
             </div> -->
         </div>     
    </div>
</div>