
<div class="sec3">
    <div class="nav-card">
        <div id="c1">
           <div>
               <span class="material-symbols-outlined ss">
                   person
                </span>
           </div>
           <div>
               <span class="material-symbols-outlined ss">
                   storefront
                </span>
           </div>
           <div>
               <span class="material-symbols-outlined ss">
                   calendar_month
                </span>
           </div>
           <div>
               <span class="material-symbols-outlined ss">
                   folder
                </span>
           </div>
           <div>
               <span class="material-symbols-outlined ss">
                   local_shipping
                </span>
           </div>
           <div>
               <span class="material-symbols-outlined ss">
                   headset_mic
                </span>
           </div>
           <div>
               <span class="material-symbols-outlined ss">
                   local_parking
                </span>
           </div>
           <div>
               <span class="material-symbols-outlined ss">
                   group
                </span>
           </div>
             
        </div>
        <div class="vl"></div>
        <div id="c2">
           <h4>Parking</h4>
           <p>Let your hybrid workforce skip the trouble of finding a spot for their vehicle along with you skipping the trouble of solving multiple related queries with just a click.</p>
           <p><span class="material-symbols-outlined">
               add
               </span> Flexible Parking Management</p>
               <p>Enables employees to view real-time parking slot status for a specific date to book their slots. Facilitates this flexibility via the mobile app that delivers a seamless employee experience to your hybrid workforce.</p>
               <p><span class="material-symbols-outlined">
                   add
                   </span> Welcoming Workplace</p>
               <p><span class="material-symbols-outlined">
                   add
                   </span>Effective Automation</p>
               
        </div>
        <div id="c3">
           <div></div>
        </div>
       </div>
       
    </div>
    