<div class="center">
    <div class="sec8">
        <h1>Make your Workplace Better</h1>
        <p>Get your daily dose of office wisdom</p>
        <div class="s8">
            <div class="ss1">
                <div class="va" ><img height="100%" width="100%" src="https://urspayce.com/EOOZp3LPf8B9wpY3MHGa4lKQScs=/0x0/smart/https://s3.us-east-2.amazonaws.com/booking.urspayce.prod/post/images/main-image-1684473170038.jpg"></div>
                <div class="v2">
                    <p>How does IWMS save you from a disorganized workplace?</p>
                    <p class="blue">Read more</p>
                </div>
            </div>
            <div class="ss1">
                <div class="vb"><img height="100%" width="100%" src="https://urspayce.com/JRAsS4rXXLON_-Ye_rr480ndWkk=/0x0/smart/https://s3.us-east-2.amazonaws.com/booking.urspayce.prod/post/images/main-image-min-min-1-1-1684232225008.png" alt=""></div>
                <div class="v2">
                    <p>Enhancing employee experience with technology: Why it Matters and How to do it right</p>
                    <p class="blue">Read more</p>
                </div>
            </div>
            <div class="ss1">
                <div class="vc"><img height="100%" width="100%" src="https://urspayce.com/A-snWQGM616j2_Xgc31-r3DyVTk=/0x0/smart/https://s3.us-east-2.amazonaws.com/booking.urspayce.prod/post/images/main-image-2-1684302854642.png" alt=""></div>
                <div class="v2">
                    <p>Creating A Culture Of Innovation: 5 Workplace Trends Driving Success</p>
                    <p class="bl">Read more</p>
                </div>
            </div>
        </div>
        <button class="no-fill">View all blogs</button>
    </div>
</div>